/******/
/**THEME **/


* {
    box-sizing: border-box;
}
.caret_rotate_down {
    transform: rotate(180deg);
    transition: 0.5s;
}
.caret_rotate_up {
    transition: 0.5s;
}
.dropdown_container {
   position: relative;
}

.selected_value {
font-weight: 700;
}

.dropdown_header {
    padding: 0.785rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  background-color: hsl(var(--clr-white));
  border-radius: var(--bradius);
  height: 2.5rem;
    &:hover {
        cursor: pointer;
        font-weight: 600;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    }
}
.dark_dropdown_header {
  background-color: hsl(var(--clr-dark2));
  padding: 0.785rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
border-radius: var(--bradius);
height: 2.5rem;
  &:hover {
      cursor: pointer;
      font-weight: 600;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }
 
}

.dropdown_list_container {
    position: absolute;
    top: 3rem;
    width: 100%;
    border-radius: var(--bradius);
    overflow: hidden;
    background-color: hsl(var(--clr-light), 1);  
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    transition: 2s;
}
.dark_dropdown_list_container {
    position: absolute;
    top: 3rem;
    width: 100%;
    border-radius: var(--bradius);
    overflow: hidden;
    background-color: hsl(var(--clr-dark2), 0.9);  
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    transition: 2s;
}
.active_dropdown_list_container  {
    transform: translateY(0.1rem); /* Initially translate it off the screen */
    transform: translateY(100); /* Translate it to the final position when active */
  }

.dropdown_list {
    position: relative;
    padding: 0;
}



.dropdown_list_container ul li {
    list-style: none;
    cursor: pointer;
    padding: 0.2rem 1rem;
    font-size: 1rem;
    &:hover {
        border-left: 0.5rem solid hsl(var(--clr-dark2),0.8);
        transition: 0.4s;
    }
}

.dark_dropdown_list_container ul li {
    list-style: none;
    cursor: pointer;
    padding: 0.2rem 1rem;
    font-size: 1rem;
    &:hover {
        border-left: 0.5rem solid hsl(var(--clr-white),0.8);
        transition: 0.4s;
    }
}



.dark_dropdown_list_container {
   /* background-color: var(--clr-dark2);*/

  }
 
@media (max-width: 400px) {
    .dropdown_container {
        height: 100%;
        min-width: 80px;
    }
}
@media (max-width: 400px) {
    .dropdown_header {
        font-size: 11px;
    }
}

/* ---------------------*/
/* Custom properties    */
/* -------------------- */
