.filter_dropdown_container {
    display: flex;
    gap: 1rem;
    margin-bottom: 4rem;
}


@media (max-width: 470px) {
    .filter_dropdown_container {
       flex-direction: column;
       align-items: flex-start;
       width: 100%;
    }
}

@media (max-width: 470px) {
    .dropdown {
       
    }
    .searchbar {
    width: 100%;
}
}

